.rodape {
    text-align: center;
    color: var(--cor-primaria);
}
.rodape a {
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.rodape a:hover {
    text-decoration: underline;
}